.pp_top_image {
  z-index: 0;  /* mixin source map fix */
  @include full-width;
  position: relative;

  &-inner {
    padding: 15rem 0 10rem 0;
    @include bg-img;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $primary-overlay;
  }
}