.btn {
  padding: $button-padding;
  border-radius: $button-border-radius;
}

.btn-primary:hover {
  color: $primary;
  background-color: transparent;
}

.btn-secondary:hover {
  color: $secondary;
  background-color: transparent;
}

.home-link {
  background-image: url("/logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 50px;
  color: transparent;

  &:hover {
    color: transparent;
  }
}