.btn {
  padding: $button-padding;
  border-radius: $button-border-radius;

  &-white {
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;

      .bg-grey-very-light & { color: $grey-very-light }
      .bg-grey-light & { color: $grey-light }
      .bg-grey-medium & { color: $grey-medium }
      .bg-grey-dark & { color: $grey-dark }
      .bg-primary & { color: $primary }
      .bg-secondary & { color: $secondary }
    }
  }

  &-primary-white {
    border: 1px solid $primary;
    background-color: $primary;
    color: $white;

    &:hover {
      border: 1px solid $white;
      background-color: $white;
      color: $primary;
    }
  }

  &-primary:hover {
    color: $primary;
    background-color: transparent;
  }

  &-secondary:hover {
    color: $secondary;
    background-color: transparent;
  }
}
