.footer {
  background-color: $footer-background-color;
  border-top: 1px solid $primary;

  &-home-link {
    margin: 20px auto;

    @media (min-width: 768px) {
      margin: 20px 0px;
    }
  }

  &-mid {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    h6 {
      padding-bottom: 1rem;
    }

    ul {

      li {
        margin-bottom: 0.5rem;
        color: $grey-medium;

        a.footer-link {
          color: $grey-medium;
          transition: $transition-standard;

          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
  }

  &-bottom {
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      li {
        font-size: $font-size-base-min;
        color: $grey-medium;
        padding-bottom: 0.5rem;
      }
    }
  }

  &-legal {

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;

      li:before {
        background-color: transparent;
        width: auto;
        bottom: 0;
      }

      @media (min-width: 480px) {
        flex-direction: row;

        li+li:before {
          content: '|';
          display: inline-block;
          margin-left: 1rem;
          color: $grey-medium;
        }
      }

      a {
        color: $grey-medium;

        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

  &-landing {
    padding-top: 3rem;

    @media (min-width: 768px) {
      padding-top: 1.5rem;
    }

    &-top-inner {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      .home-link {
        margin: 0 auto 30px auto;

        @media (min-width: 768px) {
          margin: 0;
        }
      }

      .social {
        order: 2;

        @media (min-width: 768px) {
          order: 0;
          margin-bottom: 0;
          align-items: flex-end;

          li {
            padding-bottom: 0.3rem;
          }
        }
      }
    }
  }
}