.form {
  background: $grey-very-light;
  padding: 3rem 2rem;

  label,
  input,
  textarea,
  select {
    width: 100%;
    background-color: $white-50;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
  }

  input[type="checkbox"] + label {
    width: auto;
  }

  input:-internal-autofill-selected {
    background-color: $white-50 !important;  // override browser default
  }

  label {
    background-color: transparent;
    margin-bottom: 0;
    font-size: $font-size-form-label;
    text-transform: uppercase;
    transition: $transition-base;

    &.label-select {
      pointer-events: none;
    }
  }

  input {
    border: 1px solid $grey-medium;
    margin-bottom: 1rem;

    &::placeholder {
      color: $grey-light;
    }

    &[type="text"],
    &[type="email"],
    &[type="tel"],
    &[type="password"] {
      padding: 0.5rem 1rem;

      &:focus {
        outline: none;
        box-shadow: $box-shadow-standard;
      }
    }

    &[type="checkbox"] {
      visibility: hidden;

      + label {
        text-transform: none;
        font-size: $font-size-base;
        position: relative;
        padding-left: 0.5rem;

        &:before {
          content: '\f0c8';
          font-family: $font-awesome;
          font-size: 14px;
          display: inline-block;
          position: absolute;
          left: -1rem;
          top: 0.2rem;
        }

        &.checked:before {
          content: '\f14a';
        }
      }
    }

    &[type="file"] {
      position: absolute;
      left: -99999rem;
    }
  }

  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    &::placeholder {
      color: $grey-light;
    }

    &:focus {
      outline: none;
      box-shadow: $box-shadow-standard;
    }
  }

  select {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    -webkit-appearance: none;
  }

  .select-wrapper {
    position: relative;

    &:after {
      content: '\f107';
      font-family: $font-awesome;
      font-weight: bold;
      display: inline-block;
      pointer-events: none;
      position: absolute;
      top: 10px;
      right: 15px;
      color: $grey-dark;
      transition: $transition-standard;
    }

    &.open:after {
      transform: rotate(-180deg);
    }
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    @media (min-width: 576px) {
      flex-direction: row;
      justify-content: space-around;
    }

    input {
      margin-right: 0.5rem;
    }
  }

  .file-input-wrapper {
    width: 100%;

    &-btn {
      border: 1px solid $grey-medium;
      margin-bottom: 1rem;
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: $grey-light;
      transition: $transition-standard;

      &:hover {
        cursor: pointer;
        color: $white;
        background-color: $primary;
      }
    }

    &-filename {
      margin-left: 0.5rem;
      text-transform: none;
    }
  }


  &-inverted {
    background-color: $primary;

    label,
    input,
    textarea,
    select {
      color: $white;
    }

    .select-wrapper:after {
      color: $white;
    }

    option {
      background-color: $primary;
    }

    .radio-group-item {
      color: $white;
    }

    .file-input-wrapper-btn {
      color: $primary;
      background-color: $white;
      border: 1px solid $white;

      &:hover {
        color: $white;
        background-color: $primary;
      }
    }
  }

  &.label-switch-form {
    label {
      opacity: 0;
    }
  }

/*    code for cta form, change that later
  &-label {
    width: 100%;
    opacity: 0;
    color: $white;
    text-transform: uppercase;
    font-size: $font-size-form-label;
    transition: $transition-base;
  }

  &-input {
    width: 100%;
    border: 1px solid $form-input-border-color;
    background-color: $form-input-bg-color;
    color: $grey-dark;
    padding: 10px 20px;

    &::placeholder {
      color: $white;
    }

    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: $box-shadow-standard;
    }
  }
  */
}