.navigation {

}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;

    li:first-of-type a {
      margin-left: 0;
    }
  }

  li {
    display: inline-block;
    line-height: initial;
    padding-bottom: 1rem;
  }

  a {
    font-size: 0px;
    color: $gray-medium;
    transition: $transition-standard;
    margin: 0 0.5rem;

    i {
      font-size: 1.4rem;

    }

    &:hover {
      color: $primary;
      transition: $transition-standard;
    }
  }
}