.link {
  font-weight: $weight-bold;
  color: $primary;
  transition: $transition-standard;

  &:hover {
    text-decoration: none;
    color: $secondary;
  }

  &-white {
    color: $white;

    &:hover {
      color: $white-50;
    }
  }

  &-arrow:after {
    content: '\f30b';
    display: inline-block;
    font-family: $font-awesome;
    padding-left: 0.5rem;
  }

  &-chevron:after {
    content: '\f054';
    display: inline-block;
    font-family: $font-awesome;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
}

.home-link {
  background-image: url("/logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 50px;
  color: transparent;

  &:hover {
    color: transparent;
  }
}