.pp_top_image {
  z-index: 0;  /* mixin source map fix */
  @include full-width;
  position: relative;

  &-inner {
    padding: 15rem 0 10rem 0;
    @include bg-img;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $primary-overlay;
  }
}


.pp_text {
  /* nothing default */
}

.pp_text_text {
  /* nothing default */
}

.pp_text_image {

  &-inner {

    .reverse & {

      div:first-of-type {
        order: 3;
      }
    }
  }

  &-img {
    width: 100%;
  }
}

.pp_text_video {

  &-inner {

    .reverse & {

      div:first-of-type {
        order: 3;
      }
    }
  }

  &-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 51%;
    }
  }
}

.pp_quote {

  &-inner {

    &:before,
    &:after {
      content:'';
      display: block;
      width: 100px;
      border-top: 1px solid $primary;
    }

    &:before {
      margin-bottom: 3rem;
    }

    &:after {
      margin-top: 2rem;
    }
  }

  &-text {
    font-family: $font-quote;
    font-size: $font-size-quote-text-mobile;
    line-height: $line-height-quote-text-mobile;
    quotes: "“" "”" "‘" "’";

    @media (min-width: 768px) {
      font-size: $font-size-quote-text;
      line-height: $line-height-quote-text;
    }

    &:before {
      content: open-quote;
      font-family: $font-text;
      display: inline-block;
      color: $primary;
    }

    &:after {
      content: close-quote;
      font-family: $font-text;
      position: absolute;
      color: $primary;
    }
  }

  &-source {
    font-size: $font-size-quote-source;
    font-weight: $weight-bold;
    text-align: right;

    &:before,
    &:after {
      content: ' - ';
    }
  }
}

.pp_usp {

  &-item {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    &-icon {
      @include bg-img-contain;
      height: 80px;
    }

    &-text {
      color: $primary;
      max-width: 180px;
      align-self: center;
    }
  }
}

.pp_steps {
  counter-reset: steps;

  &-left {
    padding-left: 7%;
    padding-right: 7%;
  }

  &-right {
    margin-left: 7%;

    @media (min-width: 768px) {
      margin-left: 0;
    }
  }

  &-title {
    line-height: 1.2;
  }

  &-step {
    padding-left: 50px;
    position: relative;

    &:not(:last-of-type) {
      padding-bottom: 1rem;
      border-left: 2px solid $secondary;
    }

    &:before {
      counter-increment: steps;
      content: counter(steps);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary;
      color: $white;
      font-weight: $weight-bold;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      left: -20px;
    }

    &-title {
      line-height: 1.2;
    }

    &-text {

    }
  }
}