.slick {

  &-prev:before {
    content: '\f137';
  }

  &-next:before {
    content: '\f138';
  }

  &-prev:before,
  &-next:before {
    font-family: $font-awesome;
    font-weight: $weight-bold;
    font-size: 24px;
    color: $primary;
    opacity: 1;
  }
}

.slick-list {
  box-sizing: initial;
  padding: 25px 0px;
}