.teaser1 {

   &-inner {
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     transition: $transition-standard;

     &:hover {
       text-decoration: none;

       .teaser1-img {
         transform: scale(1.1);
       }

       .teaser1-link:after {
         transform: translateX(10px);
       }
     }
   }

   &-img {
     width: 100%;
     height: auto;
     transition: $transition-base;

     &-wrapper {
       overflow: hidden;
       position: relative;
     }
   }

   &-label {
     font-size: $font-size-teaser1-label;
     font-weight: $weight-bold;
     text-transform: uppercase;
     background-color: $primary;
     color: $white;
     position: absolute;
     top: 0;
     right: 0;
     padding: 0.25rem 0.75rem 0.15rem 0.75rem;
   }

   &-title {
     line-height: $line-height-tight;
   }

   &-text {
     flex: 1 1 auto;
   }

   &-link {
     pointer-events: none;

     &:after {
       transition: $transition-base;
     }
   }
}

.teaser2 {

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
    transition: $transition-standard;
    border: 1px solid $grey-light;

    &:hover {
      text-decoration: none;
      background-color: $grey-very-light;
    }
  }

  &-img {
    width: 50%;
    height: auto;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    line-height: $line-height-tight;
    display: block;
  }

  &-text {
    flex: 1 1 auto;
  }

  &-link {
    pointer-events: none;
  }

  &-heavy-hover {

    .teaser2-img-hover {
      width: 50%;
      height: auto;
      display: none;
    }

    .teaser2-inner {

      &:hover {
        background-color: $primary;

        .teaser2 {
          &-title,
          &-text,
          &-link {
            color: $white;
          }

          &-img {
            display: none;
          }

          &-img-hover {
            display: inline-block;
          }
        }
      }
    }
  }
}

.teaser3 {
  overflow: hidden;

  &:hover {

    .teaser3-content {
      transform: translateY(0);

    }
  }

  &-inner {
    display: block;
    position: relative;
  }

  &-img {
    width: 100%;
    height: auto;

    &-wrapper {

    }
  }

  &-content {
    background-color: $primary-overlay-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(100%);
    transition: $transition-base;
  }

  &-title,
  &-text {
    color: $white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }
}

.teaser4 {
  perspective: 1000px;

  &:hover {

    .teaser4-inner {
      transform: rotateY(180deg);
    }
  }

  &-inner {
    display: block;
    position: relative;
    transition: $transition-flipcard;
    transform-style: preserve-3d;
  }

  &-img {
    width: 100%;
    height: auto;

    &-wrapper {
      backface-visibility: hidden;
    }
  }

  &-content {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  &-title,
  &-text {
    color: $white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }
}