.teaser1 {

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: $transition-standard;

    &:hover {
      text-decoration: none;

      .teaser1-img {
        transform: scale(1.1);
      }

      .teaser1-link:after {
        transform: translateX(10px);
      }
    }
  }

  &-img {
    width: 100%;
    height: auto;
    transition: $transition-base;

    &-wrapper {
      overflow: hidden;
      position: relative;
    }
  }

  &-label {
    font-size: $font-size-teaser1-label;
    font-weight: $weight-bold;
    text-transform: uppercase;
    background-color: $primary;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.75rem 0.15rem 0.75rem;
  }

  &-title {
    line-height: $line-height-tight;
  }

  &-text {
    flex: 1 1 auto;
  }

  &-link {

    &:after {
      transition: $transition-base;
    }
  }
}