/* background classes */

.bg {

  &-grey {

    &-very-light {
      background-color: $grey-very-light;
    }

    &-light {
      background-color: $grey-light;
    }

    &-medium {
      background-color: $grey-medium;

      p,
      span {
        color: $white;
      }
    }

    &-dark {
      background-color: $grey-dark;

      p,
      span {
        color: $white;
      }
    }
  }

  &-primary {
    background-color: $primary;

    p,
    span {
      color: $white;
    }
  }

  &-secondary {
    background-color: $secondary;

    p,
    span {
      color: $white;
    }
  }
}

