/* background classes */

.bg {

  &-grey {

    &-very-light {
      background-color: $grey-very-light;
    }

    &-light {
      background-color: $grey-light;
    }

    &-medium {
      background-color: $grey-medium;

      p,
      span {
        color: $white;
      }
    }

    &-dark {
      background-color: $grey-dark;

      p,
      span {
        color: $white;
      }
    }
  }

  &-primary {
    background-color: $primary;

    p,
    span {
      color: $white;
    }
  }

  &-secondary {
    background-color: $secondary;

    p,
    span {
      color: $white;
    }
  }

  &-transparent {
    background-color: transparent;
  }
}

/* overlay classes */

.overlay {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-primary:after {
    background-color: $primary-overlay-dark;
  }

  h1, h2, h3, h4, h5, h6, div, span, p, em, strong, a, input {
    position: relative;
    z-index: 10;
  }
}

