body {
  color: $gray-dark;
  background-color: $white;
  overflow-x: hidden;
}

.bg-gray-very-light {
  background-color: $gray-very-light;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-medium {
  background-color: $gray-medium;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

