/* full width from inside container */
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* easily add most common font variables */
@mixin font ( $font: $font-titles, $size: 1rem, $height: 1.2rem, $weight: 400, $color: $primary ) {
  font-family: $font;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

/* background image standard setup */
@mixin bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* background image contained */
@mixin bg-img-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
