@import url('https://fonts.googleapis.com/css?family=Oxygen:700|Raleway:400,400i,700&display=swap');
/*
*
* THEME VARIABLES
*
* WV default values have the "default" comment added
* remove this comment when replacing the default
*
*/

/* COLOURS */

$primary:                       #5E419A;  // default
$secondary:                     #B31B0B;  // default

$black:                         #000000;  // default
$white:                         #FFFFFF;  // default
$offwhite:                      #F8F8F8;  // default

$gray-dark:                     #333333;  // default
$gray-medium:                   #999999;  // default
$gray-light:                    #CCCCCC;  // default
$gray-very-light:               #EEEEEE;  // default

$box-shadow-color:              rgba(#000000,0.2);       // default
$separator-color:               $gray-medium;            // default

$primary-overlay:               rgba($primary, 0.25);    // default
$primary-overlay-light:         rgba($primary, 0.1);     // default
$secondary-overlay:             rgba($secondary, 0.25);  // default
$secondary-overlay-light:       rgba($secondary, 0.1);   // default



/* FONTS */

$font-text:                     'Raleway', sans-serif;  // default
$font-titles:                   'Oxygen', sans-serif;   // default

// base styles for standard text & plus/min styles for small variations

$font-size-base:                1rem;  // default
$line-height-base:              1.4;  // default

$font-size-base-min:            $font-size-base * 0.875;  // default
$line-height-base-min:          $line-height-base;        // default

$font-size-base-plus:           $font-size-base * 1.125;  // default
$line-height-base-plus:         $line-height-base;        // default

// header styles

$font-size-h0:                  $font-size-base * 3;    // default
$font-size-h0-mobile:           $font-size-base * 2;  // default
$line-height-h0:                $line-height-base;      // default

$font-size-h0-secondary:        $font-size-base * 1.8;  // default
$font-size-h0-secondary-mobile: $font-size-base * 1.4;  // default
$line-height-h0-secondary:      $line-height-base;      // default

$font-size-h1:                  $font-size-base * 2.5;  // default
$font-size-h1-mobile:           $font-size-base * 1.8;  // default
$line-height-h1:                $line-height-base;      // default

$font-size-h1-secondary:        $font-size-base * 1.5;  // default
$font-size-h1-secondary-mobile: $font-size-base * 1.2;  // default
$line-height-h1-secondary:      $line-height-base;      // default

$font-size-h2:                  $font-size-base * 2.2;  // default
$font-size-h2-mobile:           $font-size-base * 1.8;  // default
$line-height-h2:                $line-height-base;      // default

$font-size-h3:                  $font-size-base * 2;    // default
$font-size-h3-mobile:           $font-size-base * 1.6;  // default
$line-height-h3:                $line-height-base;      // default

$font-size-h4:                  $font-size-base * 1.8;  // default
$font-size-h4-mobile:           $font-size-base * 1.4;  // default
$line-height-h4:                $line-height-base;      // default

$font-size-h5:                  $font-size-base * 1.5;  // default
$font-size-h5-mobile:           $font-size-base * 1.2;  // default
$line-height-h5:                $line-height-base;      // default

$font-size-h6:                  $font-size-base * 1.2;  // default
$font-size-h6-mobile:           $font-size-base * 1;    // default
$line-height-h6:                $line-height-base;      // default

// font-weights

$weight-light:                  300;  // default
$weight-regular:                400;  // default
$weight-bold:                   700;  // default


/* BUTTONS */

$button-padding:                0.5rem 1rem;  // default
$button-border-radius:          0rem;         // default


/* TRANSITION */

$transition-standard:         all 0.3s ease-in-out;        // default


/* BOX SHADOW */

$box-shadow-standard: 0 2px 4px 0 $box-shadow-color;       // default

/* SPACING */
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
(
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 4),
        7: ($spacer * 5),
        8: ($spacer * 6.25),
        9: ($spacer * 7.5),
        10: ($spacer * 9.375)
),
 $spacers)
