// WV Base Theme overall style sheet
/* You can comment out any of these scss files you are not using, so they will not be compiled into the final css file  */

@import "./custom/reset";                                                 // CSS reset
@import "./custom/variables";                                             // project specific variables

/*  NPM IMPORTS  */
@import "../../node_modules/bootstrap/scss/bootstrap";                    // import default Bootstrap code
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";   // FontAwesome
@import "../../node_modules/slick-carousel/slick/slick.scss";             // Slick slider
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";       // Slick slider
@import "../../node_modules/simplelightbox/dist/simplelightbox.scss";     // Simple Lightbox
@import "../../node_modules/selectize/dist/css/selectize.css";            // Selectize.js (custom dropdown menus)
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";      // Animated Hamburger menu's
/*  END OF NPM IMPORTS  */

/*  GENERAL STUFF  */
@import "./custom/mixins";                                                // mixins
@import "./custom/general";                                               // general styling
@import "./custom/typography";                                            // typography & fonts
@import "./custom/theme-only";                                            // only for internal use
/*  END OF GENERAL STUFF  */

/*  PAGE PARTS  */
@import "./custom/page-parts/pp_cta";                                     // Call to action block
@import "./custom/page-parts/pp_facts";                                   // Facts block with animated numbers
@import "./custom/page-parts/pp_image_gallery";                           // Image gallery with interactive modal (modal can be disabled if wanted)
@import "./custom/page-parts/pp_quote";                                   // Quote block
@import "./custom/page-parts/pp_slider_images";                           // Collection of images with slider functionality
@import "./custom/page-parts/pp_slider_testimonials";                     // Testimonial block with slider functionality
@import "./custom/page-parts/pp_steps";                                   // Steps block, shows parts of a process
@import "./custom/page-parts/pp_text";                                    // Text block, just one column
@import "./custom/page-parts/pp_text_image";                              // Text & image block
@import "./custom/page-parts/pp_text_text";                               // Text block, two columns
@import "./custom/page-parts/pp_text_video";                              // Text & video block
@import "./custom/page-parts/pp_top_image";                               // Top image incl. title & subtitle
@import "./custom/page-parts/pp_usp";                                     // USP block, quickly summarizing USP's or something similar
/*  END OF PAGE PARTS  */

/*  OTHER PARTIALS  */
@import "./custom/partials/header";                                       // header
@import "./custom/partials/footer";                                       // footer
@import "./custom/partials/navigation";                                   // navigation & links
@import "./custom/partials/social";                                       // social links
@import "./custom/partials/breadcrumbs";                                  // breadcrumbs
@import "./custom/partials/pagination";                                   // pagination
@import "./custom/partials/teasers";                                      // teasers
@import "./custom/partials/buttons";                                      // buttons
@import "./custom/partials/form";                                         // forms
@import "./custom/partials/slider";                                       // slider
@import "./custom/partials/hamburgers";                                   // animated hamburgers
@import "./custom/partials/modal";                                        // modal
@import "./custom/partials/landing-page";                                 // landing page
@import "./custom/partials/utility";                                      // custom utility classes
/*  END OF OTHER PARTIALS  */